.home {
  display: flex;
   justify-content: center;     /* horizontal centering */
  align-items: center;
  flex-direction: column;       /* stack children vertically */
  width: 350%;
  box-sizing: border-box;
}

.create_form {
 
  box-sizing: border-box;
}


 .create_form input{
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
 }
.create_form button {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.task{
  display: flex;
  align-items: center;
  width: 345px;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 35px;
  padding: 2px 5px 2px 5px;
  margin-top: 2px;

}

.checkbox{
  display: flex;
  align-items: center;

}

.line_through { 
  text-decoration: line-through;
}

.checkbox .icon{
  margin-right: 5px;
  font-size: 15px;  
}

.task div span {
  margin: 0px 5px 0px 4px;

}

.task div .icon {
  cursor: pointer;
}
